/* 
===========================
General styles
===========================
*/

html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3em auto;
    background: linear-gradient(#c32270, #fdbb2d) no-repeat;
    font-size: 18px;
    font-family: 'Fredericka the Great', cursive;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 150px;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 75px;
}

/* 
===========================
Header styles
===========================
*/

#header {
    margin-bottom: 3em;
}

/* 
===========================
Body wrapper styles
===========================
*/

#body-wrapper {
    margin: 2em auto;
    width: 80%;
}

/* 
============================
Select character area styles
============================
*/

/* .fruit-select-wrapper {
    height: 200px;
    width: 200px;
    padding-top: 1em;
    padding-bottom: 2em;
} */

.fruit-select:hover {
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.fruit-select {
    height: 100%;
    width: 100px;
    padding: 1em;
}

#select-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em auto;
}

#select-character-text {
    margin: 1em auto;
    font-size: 32px;
}

/* 
===========================
Combat area styles
===========================
*/

.combat-fruit-wrapper {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    border: 2px dashed black;
    padding-top: 1em;
    padding-bottom: 2em;
}

#combat-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#your-character, #your-opponent {
    height: 100%;
}

#your-stats, #opponent-stats {
    padding-top: 0.5em;
}

#game-events {
    margin: 1em auto;
    font-size: 24px;
}

#vs-text {
    font-size: 70px;
    font-family: 'Sacramento', cursive;
}

#attack-button, #restart {
    padding: 1em;
    margin-top: 1em;
    border: solid 2px black;
    border-radius: 5px;
    background: none;
    font-size: 14px;
    color: black;
}

#attack-button:hover,
#restart:hover {
    background: white;
    border: solid 2px white;
    color: black;
}

/* 
===========================
Graveyard area styles
===========================
*/

#graveyard {
    margin: 2em auto;
}

#graveyard-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em auto;
}

.graveyard-item {
    /* position: relative; */
    height: 100%;
    width: 100px;
    padding: 1em;
}

/* .graveyard-item-overlay {
    position: absolute;
    width: 100%;
    color: red;
    left: 0;
    top: 0;
    z-index: 100;
} */
